---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

<h2>Courses</h2>
<p>Current:</p>
<ul>
<li>Quantum Information and Post-Quantum Cryptography (jointly with Dr <a href="https://www.imperial.ac.uk/people/f.mintert" target="_blank">Florian Mintert</a>)</li>
<li><a href="{{ "/teaching/information-theory/" | relative_url }}">Information Theory</a></li>
<li>Probability and Random Processes</li>
</ul>
<p>Past:</p>
<ul>
<li><a href="http://www.commsp.ee.ic.ac.uk/~cling/Com/Communications.htm">Communication Systems</a></li>
</ul>

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
