---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

{% assign current_teaching = site.teaching | where: "status", "current" | sort: "date" | reverse %}
{% assign past_teaching = site.teaching | where: "status", "past" | sort: "date" | reverse %}

<h2>Current Courses</h2>
{% for post in current_teaching %}
  {% include archive-single.html %}
{% endfor %}

<h2>Past Courses</h2>
{% for post in past_teaching %}
  {% include archive-single.html %}
{% endfor %}
